*{
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(152, 183, 240);
}

header{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgba(250, 246, 24, 0.986);
    padding: 10px;
   /* text-align: center;*/

}

nav a:visited,
nav a:link{
    color: black;
    text-decoration: none;
}

nav>ul{
    display: inline;
    padding: 0;
}

nav>ul>li{
    display: inline-block;
    list-style: none;
    margin: 0 3px 0 3px;
}

main{
    display: block;
    background-image: url("images/baack.jpg");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;

}

footer{
    padding: 15px;
    background-color: rgba(250, 246, 24, 0.856);
    text-align: center;
}

aside,article{
    padding: 2em;
}

aside{
    max-width: 12%;
    text-align: center;
}

article{
    width: 85%;
    text-align: center;
}

@media only screen and (min-width:768px) {
    main{
        display: flex;
    }

    aside{
        margin-left: 3%;
    }
}

.logo{
    max-width: 99%;
    max-height: 99%;
}

.banner{
    max-width: 100%;
    max-height: 65%;
    border: solid 1px black;
}

h1{
    font-size: 1.5em;
    margin-top: 0.5em;
}

.subtitle{
    background-color: rgb(99, 194, 226);
    font-size: 0.8em;
    padding: 10px;
    border: solid 1.5px black;
    margin-top: 0.5em;
}

.encontrar{
    text-align: left;
}

.irCat{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.ini{
    text-align: left;
}


/* CATALOGO */

.element{
    width: 250px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(187, 33, 46);
    border: solid 1px ;
    color: white;
    display: inline-block; /*hace que los cuadrados queden en una sola linea*/
}

.img-vin{
    max-width: 100%;
    max-height: 75%;
}

.element-information{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 0.3em;
}

.elementInformation .title{
    font-weight: bold;
}

.elementInformation .price{
    text-align: right; 

}

.element-button{
    background-color: cornflowerblue;
    padding: 10px;
    border: solid 1px cornflowerblue;
    border-radius: 3px;
    margin-top: 0.2em;
}

    

/* CONTACTO */ 



.cont{
    /*width: 700px;*/
    padding: 1.5em;
    margin: 1.5em;
    background-color: rgb(187, 33, 46);
    border: solid 1px ;
    color: white;
    /*display: inline-block; /*hace que los cuadrados queden en una sola linea*/
    max-width: 90%;
    display:block;
    text-decoration: none;
    color: white;
}

.link{
    color: white;
    text-decoration: none;
}   


/*  ORDER   */

.input-group{
    width: 250px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(187, 33, 46);
    border: solid 1px ;
    color: white;
   /* max-width: 90%;
    max-height: 90%;*/
    min-width: 60%;
    min-height: 60%;
    /*justify-content: space-between;*/
    
}

.input{
    
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.in{
    border: solid 1px white;
    padding: 10px;
    border-radius: 2px;
    margin: 5px;
    max-width: 100%;
    margin-top: 0.2em;
    /*justify-content: space-between;*/
    max-height: 100%;
    display: inline-block;

}

/* .encontrar{
    display: flex;
    background-attachment: cornflowerblue;
    padding: 10px;
    border: solid 1px cornflowerblue;
    max-width: 55%;
    max-height: 55%;
    text-decoration: none;
    color: rgb(0, 0, 0); 
}
.ig{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.wp{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
 */